* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  &__side-bar {
    height: 100vh;
    width: 300px;
    background-color: #253141;
  }

  &__chat-main {
    height: 100vh;
    width: calc(100vw - 300px);
  }
}

.side-bar {
  &__user-name{
    height: 100px;
    background-color:#253141;
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  &__group-list{
    height: calc(100vh - 100px);
    background-color:#2f3e51;
  }
}


.chat-main {
  &__group-info{
    height: 100px;
    background-color:#ffffff;
    border-bottom:solid #eeeeee;
  }


  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}

.user-name {
  &__box{
    height: 20px;
    width: 260px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
}

.box {
  &__icon{
    width: 60px;
    margin: 0 auto;
    color: #ffffff;
  }
}

.icon1__btn{
  color: #ffffff;
  margin-right: 5px;
}

.icon2__btn{
  color: #ffffff;
}

.group-list{
  &__group1{
    height: 91px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 20px;
    padding-top: 20px;

    a {
      text-decoration: none;
    }
  }

  &__group2{
    height: 91px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 20px;
    padding-top: 20px;
  }
}

.group1-name{
  font-size: 15px;
  margin-bottom: 5px;
  color: #ffffff;
}

.group1-latestmessage{
  font-size: 11px;
  color: #ffffff;
}

.group2-name{
  font-size: 15px;
  margin-bottom: 5px;
}

.group2-latestmessage{
  font-size: 11px;
}

.group-info{
  &__selected-group{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }
}

.selectedgroup-name{
  font-size: 20px;
  color: #333333;
  padding-top: 35px;
  padding-bottom: 15px;
}

.edit__btn{
  font-size: 16px;
  height: 40px;
  color: #38aef0;
  border: solid 1px;
  text-decoration: none;
  margin-top: 28px;
  padding: 8px 20px;
}

.member-list{
  font-size: 12px;
  color: #999999;
  margin: 0 40px;
}

.message-list{
  &__user1{
    margin-left: 40px;
  }

  &__user1-message{
    margin: 12px 40px 46px;
  }

  &__user2{
    margin-top: 35px;
    margin-left: 40px;
  }

  &__user2-message{
    margin: 12px 40px 46px;
  }
}
.user1-name{
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  float: left;
  margin-right: 12px;
}

.user1-name{
  &__time{
    font-size: 12px;
    color: #999999;
  }
}

.user1-message{
  font-size: 14px;
  color: #434A54;
}

.user2-name{
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  float: left;
  margin-right: 12px;
}

.user2-name{
  &__time{
    font-size: 12px;
    color: #999999;
  }
}

.user2-message{
  font-size: 14px;
  color: #434A54;
}

.message-form{
  &__input-box{
  line-height: 50px;
  width: calc(100vw - 195px);
  background-color: white;
  margin: 20px 15px 20px 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  }
}

.form{
  &__submit{
  text-decoration: none;
  height: 50px;
  line-height: 40px;
  text-align: center;
  width: 100px;
  color: white;
  border: solid 0;
  background-color: #38aef0;
  margin: 25px 40px 25px 15px;
  }
}

.input-box{
  &__message{
    input{
      border: none;
      margin-left: 10px;
    }
  }
}
.input-box{
  &__image{
    input{
      display: none;
    }
    margin-right: 10px;
    font-size: 1.1em;
    position: absolute;
    bottom: 13px;
    left: 625px
  }
}

.new_message{
  display: flex;
  justify-content: space-between;
}

.input-box__message{
  margin-left: 10px;
  margin-top: 25px;
  padding-left: 10px;
  height: 50px;
  line-height: 90px;
  width: calc(100vw - 465px);
  background-color: white;
}

.chat-main__message-list{
  height: calc(100% - 190px);
  overflow: scroll;
}

.icon1_btn{
  color: #ffffff;
  margin-right: 10px;
}

.fa-cog{
  color: #ffffff;
}

.member-list{
  display: flex;
}